@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 450px;
    height: auto;
    padding: 30px;
    background-color: #f6f6f6;
    color: #444;
    text-align: center;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.container h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    align-self: flex-start;
    margin-left: 5%;
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
}

form input[type="text"],
form input[type="password"],
form input[type="date"] ,
form input[type="email"] {
    margin: 10px 0;
    border-radius: 7px;
    height: 50px;
    border: 1px solid #ccc;
    width: 90%;
    padding-left: 10px;
}

form input[type="submit"],
#recaptcha{
    margin-top: 20px;
    width: 95%;
    height: 45px;
    border-radius: 7px;
    border: none;
    background-color: #390abe;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 17px;
    cursor: pointer;
    transition: background 0.3s;
}

form input[type="submit"]:hover {
    background-color: #4324d4;
}

form input::placeholder{
    font-size: 17px;
    color:#c0bcbc;
}

form .g-recaptcha {
    margin-top: 20px;
    width: 100%;
}

.container p, 
.container a {
    margin: 50px 2px 0 0;
    display: inline-block;
    color: #444;
    font-size: 18px;
}

.container a{
    text-decoration: underline;
}

#feedback {
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
  }
  .successo {
    color: #03d6a1;
    font-weight: 500;
  }
  .erro {
    color: rgb(245, 73, 4);
    font-weight: 500;
  }